<link rel="stylesheet" type="text/css" href="/../css/navbar.css">

<header>
  <nav>
    <div id="nav-wrapper">
      <div class="brand">
        <a href="/">API</a>
      </div>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/users/0">Users</a>
        </li>
        <li>
          <a href="/deposits/0">Deposits</a>
        </li>
      </ul>
    </div>
  </nav>
</header>