<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fees.css">
	<link rel="stylesheet" type="text/css" href="css/navbar.css">
<!--===============================================================================================-->
</head>






<header>
  <nav>
    <div id="nav-wrapper">
      <div class="brand">
        <a href="/">API</a>
			</div>
			<ul>
				<% if (user != undefined) { %>
					<li>
							<a href="/logout">Logout</a>
						</li>
				<% } %>
      </ul>
			<% if(user === undefined){ %>
				<ul>
					<li>
						
					</li>
				</ul>
			<% } else{ %>  
				<% if (user.local.email != null) { %>
					<ul>
						<li>
							<a href=""><%= user.local.email %></a>
						</li>
					</ul>
					<ul>
						<li>
							<img src="https://avatars.io/gravatar/<%= user.local.email %>/140" class="img-circle"><br>
						</li>
					</ul>
				<% } %>
			<% } %>
    </div>
  </nav>
</header>


<body>
	<div class="container-table100" >
			<div class="container-fee">
				<div class="login-page"> 
						<div class="form" >
							<h1>WP API Home Screen</h1><br>
								<p class="form" style="margin: 0;">
									<b>get</b>  /createuser 
								</p>
								<p class="form" style="margin: 0">
									<b>get</b>   /trackedusers/:userid
								</p>
								<p class="form" style="margin: 0">
									<b>post</b>   /trackNumber  </br>
									Body Should Be: </br>
											- userid  </br>
											- phoneNumber </br>
											- username 
								</p>
								<p class="form" style="margin: 0">
									<b>post</b>   /stoptracknumber  </br>
									Body Should Be: </br>
											- phoneNumber  </br>
											- userid </br>
								</p>
								<p class="form" style="margin: 0">
									<b>get</b>  /userfeed/:phoneNumber/:page
										"page 0'dan baslar"
								</p>

								<p class="form" style="margin: 0">
									<b>get</b> /myfeed/:userid/:page
								</p>
								

							
						</div>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>